.app-wrapper{
    display:grid;

    grid-template-areas:
            "hdr cnt"
            "nbr cnt";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 100px 10fr;
    grid-gap: 5px;
}
.nav{
    grid-area: nbr;
    background-color: aquamarine;
}

.header{
    grid-area: hdr;
    background-color: bisque;
    text-align: center;


}
.header img{
    width: 90%;
    height: 90%;

}

.content{
    grid-area: cnt;
    background-color: aquamarine;
}