.App {
  text-align: center;
}

.App-text-shadow{
  /* Текст */

  position: absolute;
  width: 197px;
  height: 62px;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
}

.Button{
  /* Заполнить */

  position: relative;
  width: 218px;
  height: 57px;
}

.Header{
  /* Frame 1 */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1440px;
  height: 44px;
  left: 0px;
  top: 0px;
}

.Logo{
  /* Лого */

  position: static;
  width: 137px;
  height: 44px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1px;
}

.info{
  /* Информация */


  position: static;
  width: 286px;
  height: 44px;
  left: 138px;
  top: 0px;


  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 1px;
}
